<div class="flex-column font-display">
  <form [formGroup]="profileForm" (submit)="onSubmit()">
    <div>
      <h1>Login</h1>
      <label for="email">email: </label>
      <input
        class="border-1 m-3"
        id="email"
        type="text"
        formControlName="email"
        required
      />
      <label for="password">password: </label>
      <input
        id="password"
        type="text"
        formControlName="password"
        required
        class="border-1 m-3"
      />
    </div>

    <button
      class="border-2 px-3 py-1 hover:bg-red-500 cursor-pointer"
      type="submit"
      [disabled]="!profileForm.valid"
    >
      Submit
    </button>
    <p>Form Status: {{ profileForm.status }}</p>
  </form>
</div>
