<div class="flex w-1/3 justify-center">
  <button
    [routerLink]="['/add/post']"
    class="text-dark border-green-600 border-2 rounded p-3 m-5 hover:font-bold hover:border-3 cursor-pointer"
  >
    Add new post
  </button>
</div>

@for (post of posts(); track post._id) {

<div
  class="flex-col mb-5 p-5 border-2 m-2 w-1/3 cursor-pointer"
  [routerLink]="['/post', post._id]"
>
  <p>
    TITOLO:<span class="font-bold"> {{ post.title }}</span>
  </p>
  <p>
    DESCRIPTION: <span class="font-bold"> {{ post.description }}</span>
  </p>
  <p>
    image: <span class="font-bold"> {{ post.image }}</span>
  </p>
  <p>
    read_time: <span class="font-bold"> {{ post.read_time }}</span>
  </p>
  <p>
    category: <span class="font-bold"> {{ post.category }}</span>
  </p>
  <p>
    author: <span class="font-bold"> {{ post.author }}</span>
  </p>
  <p>
    date:
    <span class="font-bold"> {{ post.date.toString().slice(0, 10) }} </span>
  </p>
</div>
}
