<div class="">
  <form [formGroup]="profileForm" (submit)="onSubmit()">
    <div>
      <h1>Add new post</h1>
      <label for="title">title: </label>
      <input
        class="border-1 m-3"
        id="title"
        type="text"
        formControlName="title"
        required
      />
      <label for="description">description: </label>
      <input
        id="description"
        type="description"
        formControlName="description"
        required
        class="border-1 m-3"
      />
    </div>
    <div>
      <label for="immagine">image: </label>
      <input
        id="immagine"
        type="immagine"
        formControlName="image"
        required
        class="border-1 m-3"
      />
      <label for="read_time">read_time: </label>
      <input
        id="read_time"
        type="read_time"
        formControlName="read_time"
        required
        class="border-1 m-3"
      />
    </div>
    <div>
      <label for="date">date: </label>
      <input
        id="date"
        type="date"
        formControlName="date"
        required
        class="border-1 m-3"
      />
      <label for="category">category: </label>
      <input
        id="category"
        type="category"
        formControlName="category"
        required
        class="border-1 m-3"
      />
    </div>
    <label for="author">author: </label>
    <input
      id="author"
      type="author"
      formControlName="author"
      required
      class="border-1 m-3"
    />

    <button
      class="border-2 px-3 py-1 hover:bg-red-500 cursor-pointer"
      type="submit"
      [disabled]="!profileForm.valid"
    >
      Submit
    </button>
    @if (statusMessage) {
    <div
      class="p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50"
      role="alert"
    >
      <span class="font-medium">Post added succesfully!</span>
    </div>
    }

    <p>Form Status: {{ profileForm.status }}</p>
  </form>
</div>
